@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('./body-bg.webp');
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}